header {
    
    height: 4rem;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    overflow: hidden;       
}

.pagetitle{
    color: hsl(0, 0%, 100%); 
    font-size: 2.5rem;   
    padding: 10 10;
    margin-left: 15;
    float: left;
}

.topnav{
    margin-right: 10px;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20;
    margin-bottom: 20;
    margin-right: .7rem;
    font-size: 1.5rem;
    float: right;

    }
.topnav a:hover {
    color: aquamarine;
}
    


link{
    color: white;
}

body {
    background-color: lightgray;
    margin:0;
    padding:0;
}

section {
    background-color: lightgray;
    float: left;
    width: 80.03%;
}


aside {
    background-color: lightgrey;
    float: right;
    width: 19.7%;
   }

h3 {
    background-color: white;
    text-align: center;
    font-size: 25px;
    margin: 10 0 10 0;
}

article {
    padding: 10 10 10 10;
    display: inline-block;
    vertical-align: center;
}
h2{
    text-align: center;
    font-size: 30px;
}
section#statistics{
    font-size: large;
}
.stats{  
    position: absolute;
    padding-left: 70; 
    margin: 15 15; 
    float: left;
}
.table{
    position: relative;
    padding-top: 20;
    padding-right: 70;
    margin: 15 15;
    float: right;
}

section.contactUs{
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}

h1{
    font-size: 50px;
}
div #contact{
    overflow: hidden;
    display: flex;
    margin: auto;
    
}
div #contact.form{
    border-radius: 25px;  
    width: 50%;    
    display: inline-block;   
    
}

h1.text-center {
    text-align: center;
}

input[type=text]{
    border-radius: 25px;
    padding:10px;    
    margin: auto;
    margin-top: 20;
    margin-bottom: 20;
    display: flex;    
    border:0;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.644);
  }
input[type=email]{
    border-radius: 25px;
    padding:10px;
    margin: auto;
    margin-top: 20;
    margin-bottom: 20;
    display: flex;
    border:0;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.644);
  }

.question{
    border-radius: 25px;
    padding:10px;
    width: auto;
    margin: 20 20;
    display: flex;
    border:0;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.644);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .btn {
    border-radius: 12px;
    font-size: larger;
    width: auto;    
    display: flex;
    margin: auto;
  }



